footer {
  background-color:  rgb(93, 181, 252);
}
footer ul {
  margin: 0;
  padding: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
} 

footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
}
footer li a {
  text-decoration: none;
  color: rgb(103, 175, 222);
  transition: all 0.4s ease-in-out;
}
footer li a:hover {
  font-weight: 900;
  color: rgb(135, 207, 255);
  font-size: 17px;
}

footer img{
  width: auto;
  height: 30px;
}